In [62]:
import pandas as pd

In [63]:
ramen_ratings = pd.read_csv("ramen_ratings.csv")
sports_ratings = pd.read_csv("sports_ratings.csv")
spotify_ratings = pd.read_csv("spotify_ratings.csv")

In [64]:
ramen_ratings = ramen_ratings.drop(ramen_ratings[ramen_ratings.Stars == "Unrated"].index)

In [65]:
ramen_ratings = ramen_ratings.drop(columns=["Review #","Unnamed: 6"])

In [66]:
ramen_ratings["Stars"].unique()

array(['3.75', '1', '2.25', '2.75', '4.75', '4', '0.25', '2.5', '5',
       '4.25', '4.5', '3.5', '1.5', '3.25', '2', '0', '3', '0.5', '3.8',
       '4.3', '2.3', '3.3', '1.75', '0.75', '1.25', '1.1', '2.1', '0.9',
       '3.1', '4.125', '3.125', '2.125', '2.9', '0.1', '2.8', '3.7',
       '3.4', '3.6', '2.85', '3.2', '3.65', '1.8'], dtype=object)

In [67]:
ramen_ratings = ramen_ratings.replace("USA","United States")

In [68]:
sports_ratings = sports_ratings.rename(columns={"State(s)":"Country"})

In [69]:
sports_ratings = sports_ratings.drop([10,25,30])

In [70]:
sports_ratings = sports_ratings.drop(columns=["Ref","Pyramid level"])

In [71]:
sports_ratings["Total attendance"] = sports_ratings["Total attendance"].str.replace(',','')

In [72]:
sports_ratings = sports_ratings.replace(["1465432[135]","3887562[149]","1384820[162]","959914[164]","737782[F]"],["1465432","3887562","1384820","959914","737782"])
sports_ratings = sports_ratings.replace("295[140]","295")

In [73]:
sports_ratings["Year"] = sports_ratings["Season"].str.split("–").str[0]

In [74]:
sports_ratings = sports_ratings.replace("2018-2019","2018")

In [75]:
sports_ratings = sports_ratings.drop(columns=["Season"])

In [76]:
sports_ratings = sports_ratings.astype({"Teams":int,"Games":int,"Total attendance":int,"Average attendance":int,"Year":int})

In [77]:
sports_ratings["Country"].unique()

array(['United States\xa0Canada', 'United States', 'Europe',
       'Switzerland', 'Philippines', 'Germany', 'Spain',
       'Australia\xa0New Zealand', 'Sweden', 'Czech Republic', 'Finland',
       "People's Republic of China", 'Canada\xa0United States', 'Italy',
       'South Korea', 'France', 'United Kingdom', 'Russia', 'Poland',
       'Canada'], dtype=object)

In [78]:
spotify_ratings

,country,song_title,artist,streams,rank
0,USA,Rockin' Around The Christmas Tree,Brenda Lee,"5,662,961",1
1,USA,34+35,Ariana Grande,"5,425,062",2
2,USA,Jingle Bell Rock,Bobby Helms,"5,326,633",3
3,USA,Mood (feat. iann dior),24kGoldn,"5,204,578",4
4,USA,"Lemonade (feat. Gunna, Don Toliver & NAV)",Internet Money,"5,165,110",5
...,...,...,...,...,...
195,Vietnam,từ thích thích thành thương thương,"AMEE, Hoang Dung","201,569",6
196,Vietnam,Gác Lại Âu Lo,"Da LAB, Miu Lê","197,667",7
197,Vietnam,BLACKJACK,"Soobin Hoang Son, Binz","194,957",8
198,Vietnam,CÓ CHẮC YÊU LÀ ĐÂY,Sơn Tùng M-TP,"174,189",9
199,Vietnam,Dân Chơi Xóm (feat. RPT MCK & JustaTee),RAP VIỆT,"173,443",10

In [79]:
spotify_ratings = spotify_ratings.rename(columns={"country":"Country"})

In [80]:
spotify_ratings["streams"] = spotify_ratings["streams"].str.replace(',','')

In [81]:
spotify_ratings = spotify_ratings.replace("USA","United States")

In [82]:
spotify_ratings

,Country,song_title,artist,streams,rank
0,United States,Rockin' Around The Christmas Tree,Brenda Lee,5662961,1
1,United States,34+35,Ariana Grande,5425062,2
2,United States,Jingle Bell Rock,Bobby Helms,5326633,3
3,United States,Mood (feat. iann dior),24kGoldn,5204578,4
4,United States,"Lemonade (feat. Gunna, Don Toliver & NAV)",Internet Money,5165110,5
...,...,...,...,...,...
195,Vietnam,từ thích thích thành thương thương,"AMEE, Hoang Dung",201569,6
196,Vietnam,Gác Lại Âu Lo,"Da LAB, Miu Lê",197667,7
197,Vietnam,BLACKJACK,"Soobin Hoang Son, Binz",194957,8
198,Vietnam,CÓ CHẮC YÊU LÀ ĐÂY,Sơn Tùng M-TP,174189,9
199,Vietnam,Dân Chơi Xóm (feat. RPT MCK & JustaTee),RAP VIỆT,173443,10

In [83]:
sports_ratings

,League,Sport,Country,Teams,Games,Total attendance,Average attendance,Year
0,National Basketball Association (NBA),Basketball,United States Canada,30,1230,22124559,17987,2017
1,National Hockey League (NHL),Ice hockey,United States Canada,31,1271,22174362,17446,2017
2,Big3,Basketball,United States,8,32,431500,13484,2018
3,National Lacrosse League (NLL),Indoor lacrosse,United States Canada,9,81,762367,9411,2018
4,EuroLeague,Basketball,Europe,16,259,2194238,8472,2016
5,Women's National Basketball Association (WNBA),Women's basketball,United States,12,204,1465432,7183,2015
6,Nationalliga A,Ice hockey,Switzerland,12,300,2064737,6882,2016
7,Philippine Basketball Association (PBA),Basketball,Philippines,10,219,737782,6647,2005
8,Deutsche Eishockey Liga (DEL),Ice hockey,Germany,14,364,2419630,6647,2015
9,Liga ACB,Basketball,Spain,17,295,1904534,6456,2016
11,National Basketball League (NBL),Basketball,Australia New Zealand,8,120,725749,6048,2016
12,American Hockey League (AHL),Ice hockey,United States Canada,30,1120,6693526,5982,2015
13,Swedish Hockey League,Ice hockey,Sweden,14,364,2077496,5707,2016
14,Czech Extraliga,Ice hockey,Czech Republic,14,364,1884960,5178,2016
15,Handball-Bundesliga (HBL),Handball,Germany,19,342,1568167,4585,2014
16,ECHL,Ice hockey,United States,23,857,3887562,4536,2014
17,Basketball Bundesliga (BBL),Basketball,Germany,18,306,1375179,4494,2013
18,Liiga,Ice hockey,Finland,15,450,1946968,4326,2016
19,Chinese Basketball Association (CBA),Basketball,People's Republic of China,20,380,1791320,4714,2015
20,Canadian Hockey League (CHL),Junior ice hockey,Canada United States,60,2084,8267924,3967,2015
21,Lega Basket Serie A (LBA),Basketball,Italy,16,240,926910,3862,2008
22,Korean Basketball League (KBL),Basketball,South Korea,10,270,1027297,3805,2010
23,Ligue Nationale de Handball (LNH),Handball,France,14,182,460143,3528,2012
24,Nationalliga B,Ice Hockey,Switzerland,9,216,756000,3500,2014
26,Elite Ice Hockey League,Ice Hockey,United Kingdom,10,320,940000,2842,2016
27,Southern Professional Hockey League,Ice hockey,United States,9,252,704664,2796,2011
28,United States Hockey League,Junior ice hockey,United States,17,510,1384820,2715,2014
29,HockeyAllsvenskan,Ice hockey,Sweden,14,364,959914,2637,2016
31,Lega Pallavolo Serie A,Volleyball,Italy,13,156,381576,2446,2014
32,Russian Basketball Super League,Basketball,Russia,10,176,385702,2401,2010
33,Polish Volleyball League,Volleyball,Poland,14,182,382701,2103,2018
34,Polska Liga Koszykówki,Basketball,Poland,16,271,551121,2034,2014
35,National Basketball League of Canada,Basketball,Canada,10,200,400544,2003,2017

In [84]:
ramen_ratings

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1
2,Nissin,Cup Noodles Chicken Vegetable,Cup,United States,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75
...,...,...,...,...,...
2575,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5
2576,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1
2577,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2
2578,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2
2579,Westbrae,Miso Ramen,Pack,United States,0.5

In [85]:
spotify_ratings = spotify_ratings.astype({"streams":int,"rank":int})

In [86]:
sports_ratings.to_csv("data/sports_ratings_final.csv",index=False)

In [87]:
spotify_ratings.to_csv("data/spotify_ratings_final.csv",index=False)

In [88]:
ramen_ratings.to_csv("data/ramen_ratings_final.csv",index=False)